.main {
    font-family: 'Montserrat',sans-serif;
    position: relative;
}
.sertiz-bg {
    display: flex;
    align-items: flex-end;
    height: 900px;
    width: 100vw;
    background-image: url(..//images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
}
.sertiz {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 145px;
    padding-left: 5.1vw;
}
.sertiz h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.sertiz-logo {
    display: flex;
    height: 129px;
    font-size: 54px;
    font-weight: 700;
    margin-top: 28px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    background-color:  rgba(0, 0, 0, 0.3);
}
.orange-logo {
    border-style: solid;
    background-color:  #ffffff;
    height: 100%;
    color:  #f1ad1d;
    padding: 40px 30px;
    box-sizing: border-box;
}
.white-logo {
    padding: 40px 30px;
}
.bare-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0;
}
.orange-line {
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    margin-top: 60px;
}
.section-title {
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
}
.section-content {
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
}
.img-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 120px 0;
    color: #fff;
}
.red-speed {
    background-image: url(..//images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.fog-tree {
    background-image: url(..//images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.fog-lake {
    background-image: url(..//images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.img-section-title {
    color:  #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}
.orange-word {
    color:  #f1ad1d;
}
.logo-gallery {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.logo-gallery img {
    margin: 0 1.8vw;
}
.img-section-content {
    font-family: OpenSans;
    text-align: center;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
    letter-spacing: 1px;
    line-height: 30px;
}
.white-line {
    margin-top: 44px;
    background-color:  #ffffff;
    width: 281px;
    height: 3px;
}
.header{
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;  
    transition: 0.4s;
}
.nav-bar{
    display: flex;
    font-weight: 700;
    height: 100%;
    text-transform: uppercase;
    padding-left: 30%;
    padding-right: 10%;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
}
.nav-bar li{
    cursor: pointer;
}
.nav-bar li:hover{
    color: #fff;
}
.fog-lake p:first-child{
    cursor: pointer;
    border: 1px solid orange;
    padding: 5px;
}
#upBtn{
    display: none;
    position: fixed;
    left: 90%;
    top: 70%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(111,207,242,0.8);
    border: none;
    outline-style: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    border: 2px solid white;
}